body {
    background-color: rgb(1, 1, 1);
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

h4 {
    text-align: center;
    margin-top: 5px; 
    line-height: 0.8; 
    font-size: 0.9em; 
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 1.5em;
    cursor: pointer;
}

.button-navigate {
    font-size: 3em;
}

.button-biggest {
    font-size: 4em;
}

#cover {
    width: 400px;
    height: auto;
    max-width: 100%;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color {
    color: rgb(139, 153, 156);
}

#progress-bar {
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#current-progress {
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container {
    padding-bottom: 1em;
    cursor: pointer;
    width: 100%;
}

.button-active {
    color: rgb(0, 116, 183);
}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
}

.button-likes {
    color: rgb(255, 4, 4);
    font-size: 1em;
}

#click-like {
    font-size: 2em;
}


